.grid-container-container {
    margin-top: 100px;
}

.message-flex-container {
    display: flex;
    height: 82vh;
    width: 85%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

/* Flexbox class */


.chat {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.chat-header {
    font-weight: bold;
}

.chat-preview {
    color: #666;
}

.message-list{
    margin-right: 35px;
    width: 30%;
    background-color: white;
}

/* Remove the list marker and remove the padding caused by it */
.message-list ul {
    list-style-type: none;
    padding: 30px;
}

/* Add padding within the list item's area and vertically align items to the centre */
.message-list li {
    padding: 20px;
    align-items: center;
}

/* Create a profile picture placeholder, coloured grey */
.profile-circle {
    width: 30px;
    height: 30px;
    border-radius: 2em;
    background-color: lightgrey;
    display: inline-block;
    margin-right: 10px;
}

/* Vertically aligns flexbox items to the centre */
.vertical-align {
    align-items: center;
}

/* For the headers such as "All Messages" and the current chat's account name
Requires more specificity because of '.grid-container div' */
div.headers {
    background-color: #FAFBFF;
    padding: 21px;
}

.last-messaged {
    font-size: 13px;
    font-weight: 400;
    color: rgb(199, 199, 199);
    
}

.messaging {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure messaging div takes full height */
    width: 100%;
}

.input-message-bar {
    margin-left: 4%;
    margin-bottom: 10px;
    margin-top: 15px;
}

.input-message-bar input{
    padding: 1em;
    width: 80%;
    border: none;
}

.input-message-bar hr{
    width: 95%;
    margin-bottom: 5px;
}

.overflow-scroll{
    overflow-y: scroll;
    height: 86%;
    align-content: end;
}

.message-content {
    flex: 1; /* Takes remaining vertical space */ /* Enables scroll if content overflows */
    padding: 50px; /* Adjust padding as needed */
    flex-direction: column;
    display: flex;
    justify-content: end;
    
}

.You, 
.sender{
    display: flex;
    align-items: end;
    width: 50%;
    margin-top: 25px;
}

.You{
    align-self: flex-end;
    justify-content: end;
}

.You-content,
.sender-content{
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 7px;
}

.You-content{
    margin-right: 7px;
    background-color: bisque;
}

.sender-content{
    background-color: aqua;
}


.messaging-identify{
    width: 100%;
    padding: 17px 0px 17px 0px;
    background-color: #666;
}

.messaging-identify span{
    margin-left: 30px;
}
