.grid-container-container {
    margin-top: 100px;
}

.message-flex-container {
    display: flex;
    height: 82vh;
    width: 85%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

/* Flexbox class */


.chat {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.notif-num{
    background-color: red;
    padding: 2px 6px 2px 6px;
    border-radius: 5em;
    font-size: 10px;
    color: white;
}

.chat-header {
    font-weight: bold;
}

.chat-preview {
    color: #666;
}

.message-list{
    margin-right: 35px;
    width: 30%;
    background-color: white;
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
}

.message-list ul {
    list-style-type: none;
    padding: 30px;
}

.no-messages{
    text-align: center;
    font-size: 18px;
    color: grey;
}

.message-list li {
    padding: 20px;
    align-items: center;
}

.profile-circle {
    width: 30px;
    height: 30px;
    border-radius: 2em;
    background-color: lightgrey;
    display: inline-block;
    margin-right: 10px;
}

.vertical-align {
    align-items: center;
    font-weight: 500;
}

.chat img{
    width: 30px;
    border-radius: 1em;
    margin-right: 15px;
}

div.headers {
    background-color: #FAFBFF;
    padding: 21px;
    box-shadow: 0px 2px 5px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -4px rgba(0,0,0,0.75);
}

.last-messaged {
    font-size: 13px;
    font-weight: 400;
    color: rgb(199, 199, 199);
    
}

.messaging {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%; 
    width: 100%;
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
}

.input-message-bar {
    margin-left: 4%;
    margin-bottom: 10px;
    margin-top: 15px;
}

.input-message-bar input{
    padding: 1em;
    width: 80%;
    border: none;
}

.input-message-bar hr{
    width: 95%;
    margin-bottom: 5px;
}

.overflow-scroll{
    overflow-y: scroll;
    height: 86%;
    align-content: end;
}

.message-content {
    flex: 1;
    padding: 50px; 
    flex-direction: column;
    display: flex;
    justify-content: end;
}

.You, 
.sender{
    display: flex;
    align-items: end;
    width: 50%;
    margin-top: 25px;
}

.You{
    align-self: flex-end;
    justify-content: end;
}

.You-content,
.sender-content{
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 7px;
}

.You-content{
    margin-right: 7px;
    background-color: rgb(243, 75, 75);
    color: white;
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
}

.sender-content{
    background-color: rgba(236, 236, 236, 0.555);
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
}

.message-circle {
    width: 30px;
    height: 30px;
    border-radius: 2em;
    background-color: rgb(243, 75, 75);
    display: inline-block;
    margin-right: 10px;
}

.messageloader {
    margin-left: 45%;
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #8d8d8d, -20px 0 #0002;background: #969696 }
    33% {box-shadow: 20px 0 #808080, -20px 0 #0002;background: rgba(145, 143, 143, 0.133)}
    66% {box-shadow: 20px 0 rgba(148, 148, 148, 0.133),-20px 0 #838383; background: rgba(128, 128, 128, 0.133)}
    100%{box-shadow: 20px 0 rgba(104, 104, 104, 0.133),-20px 0 #7e7e7e; background: #7e7d7d }
}

.messaging-identify{
    width: 100%;
    padding: 15px 0px 17px 0px;
    background-color: #FAFBFF;    
    box-shadow: 0px 2px 5px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -4px rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.messaging-identify span{
    margin-left: 40px;
}

.messaging-identify img{
    margin-right: 20px;
}

.span-report{
    margin-right: 80px;
    border: 1px solid rgb(168, 167, 167);
    padding: 0.3em 0.7em 0.3em 0.7em;
    border-radius: 0.2em;
    color: #575656;
    font-weight: 400;
    cursor: pointer;
}

.span-report:hover{
    background-color: #e7e5e5;
}

.bi-cent{
    margin-top: 8px;
    margin-left: 7px;
    color: rgb(255, 255, 255);
}

.start-message{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 25px;
    color: grey;
}

.report{
    display: flex;
    border-radius: 1em;
    flex-direction: column;
}

.report hr{
    width: 90%;
    margin-left: 5%
}

.report-1st{
    height: 13%;
    padding: 0em 1em 0em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.report-2nd{
    display: flex;
    flex-direction: column;
    padding: 2em 2.5em 0em 2em;
    font-size: 12px;
}

.report-2nd input{
    width: 100%;
    padding: 0.5em; /* Added padding for better UX */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.report-2nd input:nth-child(2){
    height: 30px;
}

.report-2nd h3:nth-child(3){
    margin-top: 25px;
}

.report-2nd textarea:nth-child(4){
    margin-top: 5px;
    height: 150px;
    resize: none;
}

.report-2nd button{
    align-items: center;
    margin: auto;
    margin-top: 12px;
    padding: 0.5em;
    cursor: pointer;
    color: #d3302f;
    background-color: white;
    border: 1px solid #d3302f;
}

.report-2nd button:hover{
    background-color: #d3302f;  
    color: white;
}

.confirmation{
    position: fixed;
    width: 300px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    z-index: 5;
}

.confirmation h3{
    text-align: center;
    margin-top: 30px;
}

.confirmation-buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.confirmation-buttons button{
    padding: 1em 2em 1em 2em;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 500;
    border: none;
    color: white;
    cursor: pointer;
}
.confirmation-buttons button:nth-child(1){
    background-color: red;
}
.confirmation-buttons button:nth-child(2){
    background-color: rgb(9, 255, 9);
}

.confirmation-buttons button:nth-child(1):hover{
    background-color: rgb(133, 33, 33);
}
.confirmation-buttons button:nth-child(2):hover{
    background-color: rgb(29, 126, 29);
}

.expoconfir{
    z-index: 3;
}