@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Trade+Winds&display=swap');

*{
    margin: 0;
    text-decoration: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.Booktrack{
    max-width: 50%;
    max-height: 50%;
    object-fit: cover;
}

.navbar{
    background: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 2px 2px rgb(196, 196, 196);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
}

.logo a{
    font-size: 20px;
    font-weight: 700;
    color: black;
    font-style: italic;
}

.navbar_right{
    margin-right: 35px;
}

.navbar_left{
    margin-left: 75px;
    display: flex;
    align-items: center;
}

.navbar_left div:nth-child(2){
  display: flex;
  position: absolute;
  margin-left: 200px;
}

.navbar_left div:nth-child(3){
  display: flex;
  position: absolute;
  margin-left: 300px;
}

.Browse{
  position: absolute;
  left: 360px;
  background-color: white;
  padding: 3.2em 1em 0.9em 1em;
  border: #e2e2e2d7 1px solid;
  box-shadow: 0px 1px 5px 0px rgba(211, 211, 211, 0.75);
-webkit-box-shadow: 0px 1px 5px 0px rgba(179, 179, 179, 0.75);
-moz-box-shadow: 0px 1px 5px 0px rgba(235, 235, 235, 0.75);
  top: 7px;
  cursor: pointer;
}

.Browse1{
  cursor: pointer;
  z-index: 1;
}

.Browse span{
  font-family: 'Montserrat';
  color: rgb(175, 172, 172);
}

.navbar_left span{
  font-family: 'Montserrat';
  color: rgb(175, 172, 172);
}

.navbar_right img{
    width: 35px;
}

.icon_wrap{
    display: flex;
    align-items: center;
}


.name{
    display: inline-block;
    margin: 0 15px 0 15px;
    font-family: 'Montserrat';
    color: #7f8db0;
}

.icon-button {
    margin-top: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #7f8db0;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 50%;
    margin-right: 35px;
  }
  .icon-button__badge {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 15px;
    height: 15px;
    background: red;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 8px;
    display: none;
  }
  
  .icon-button:hover {
    cursor: pointer;
  }
  
  .notif-bar{
    position: absolute;
    height: 70px;
    width: 300px;
    right: 210px;
    box-shadow: 10px 10px 35px rgba(0,0,0,0.125),
    -10px -10px 35px rgba(0,0,0,0.125);
    background-color: #ffffff;
  }
  
  .read{
    font-size: 13px; 
    margin-left: 72px; 
    color: grey;
    cursor: pointer;
  }
  .read:hover{
    color: red;
  }
  .profile-link{
    display: flex; 
    align-items: center; 
    cursor: pointer;
  }

  .profile-link:hover .name{
    color: black;
  }

  .notif-texts{
    padding: 1em;
  }

  .notif-texts hr{
    margin-top: 5px;
  }

  .notif-content{
    background-color: #dddddd;
    margin-top: 15px;
    padding: 0.5em;
    border-radius: 5px;
    cursor: pointer;
  }
  .notif-content:hover{
    background-color: #acaaaa;
  }
  
  .label-notif{
    display: flex;
  }

  #notif-count{
    font-size: 13px;
    color: grey;
  }

  /* //menu */

.Menu-Account{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.233);
    position: fixed;
    z-index: 1;
    top: 0;
}
.Menu{
    width: 300px;
    height: 100%;
    background-color: white;
    position: fixed;
    z-index: 5;
    right: 0;
    padding: 2em 0em 0em;
    text-align: center;
    top: 0;
    box-shadow: -1px -1px 5px 0px rgba(182, 182, 182, 0.75);
-webkit-box-shadow: -1px -1px 5px 0px rgba(204, 204, 204, 0.75);
-moz-box-shadow: -1px -1px 5px 0px rgba(167, 167, 167, 0.75);
}

.Menu-bar{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Menu-bar hr,
.menus-choice hr{
    margin-top: 18px;
    width: 70%;
}

.Account{
    display: flex;
    align-items: center;
}

.menus-choice{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menus-choice button{
    cursor: pointer;
    margin-top: 35px;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 0.3em;
    border: none;
    background-color: rgb(231, 72, 72);
}

.menus-choice button:hover{
    background-color: white;
    border: 1px solid rgb(231, 72, 72);
    color: rgb(231, 72, 72);;
}

.menus-choice span:hover{
    color: grey;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.MenuTab-slide-in {
  animation: slideIn 0.3s forwards;
}

.MenuTab-slide-out {
  animation: slideOut 0.3s forwards;
}

.span{
  color: black;
  cursor: pointer;
  margin-top: 35px;
  font-family: 'Montserrat', sans-serif;
}