@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Trade+Winds&display=swap');

*{
    margin: 0;
    text-decoration: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.Booktrack{
    max-width: 50%;
    max-height: 50%;
    object-fit: cover;
}

.navbar{
    background: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 2px 2px rgb(196, 196, 196);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.logo a{
    font-size: 20px;
    font-weight: 700;
    color: black;
    font-style: italic;
}

.navbar_right{
    margin-right: 35px;
}

.navbar_left{
    margin-left: 55px;
}

.navbar_right img{
    width: 35px;
}

.icon_wrap{
    display: flex;
    align-items: center;
}


.name{
    display: inline-block;
    margin: 0 15px 0 15px;
    font-family: 'Montserrat';
    color: #7f8db0;
}

.icon-button {
    margin-top: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #7f8db0;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 50%;
    margin-right: 35px;
  }
  .icon-button__badge {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 15px;
    height: 15px;
    background: red;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 8px;
    display: none;
  }
  
  .icon-button:hover {
    cursor: pointer;
  }
  
  .notif-bar{
    position: absolute;
    height: 70px;
    width: 300px;
    right: 210px;
    box-shadow: 10px 10px 35px rgba(0,0,0,0.125),
    -10px -10px 35px rgba(0,0,0,0.125);
    background-color: #ffffff;
  }
  
  .read{
    font-size: 13px; 
    margin-left: 72px; 
    color: grey;
    cursor: pointer;
  }
  .read:hover{
    color: red;
  }
  .profile-link{
    display: flex; 
    align-items: center; 
    cursor: pointer;
  }

  .profile-link:hover .name{
    color: black;
  }

  .notif-texts{
    padding: 1em;
  }

  .notif-texts hr{
    margin-top: 5px;
  }

  .notif-content{
    background-color: #dddddd;
    margin-top: 15px;
    padding: 0.5em;
    border-radius: 5px;
    cursor: pointer;
  }
  .notif-content:hover{
    background-color: #acaaaa;
  }
  
  .label-notif{
    display: flex;
  }

  #notif-count{
    font-size: 13px;
    color: grey;
  }

/* ==========Header============= */
/* ==========Header============= */



.body{
    display: flex;
    width: 100%;
    height: 700px;
    /* background-image: url('images/books1.png'); */
    /* transition: background-image 1s ease-in-out; */
}
.body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    transition: opacity 1s ease-in-out; 
    pointer-events: none; 
}
p{
    margin-right: 3%;
}
#texts{
    margin-top: 250px;
    margin-left: 150px;
    color: white;
    position: absolute;
}

#texts h2{
    letter-spacing: 2   px;
}

.browse-buttons button{
    padding: 1em;
}

#BookSearch{
    width: 280px;
    height: 40px;
    margin-left: 10%;
    margin-top: 1.5%;
    outline: 0;
    border: none;
    font-size: 15px;
    align-content: center;
}
#Location{
    width: 200px;
    height: 40px;
    margin-left: 7%;
    margin-top: 2.2%;
    outline: 0;
    border: none;
    font-size: 15px;
    align-content: center;
}

#search{
    display: flex;
    background-color: white;
    width: 900px;
    height: 50px;
    border-radius: 1rem;
}

.form-select{
    width: 200px;
    margin-left: 30px;
    border: 0;
    outline: 0;
    font-size: 15px;
    border-radius: 0.5rem;
    margin-top: 5px;
    height: 40px;
}

.form-select:hover{
    background-color: rgb(150, 150, 150);
}

option{
    background-color: white;
}

@media screen and (max-width: 1024px) {
    #texts {
        padding-top: 150px; 
        margin-left: 20px; 
    }
    
    #search {
        width: 80%; 
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    #texts {
        padding-top: 100px; 
        margin-left: 10px;
    }
    
    #search {
        width: 90%; 
    }
    
    #BookSearch,
    #Location,
    .form-select {
        width: 100%; 
        margin-left: 0; 
        margin-top: 10px; 
    }
}

#tagline{
    background-color: rgb(221, 221, 221);
    height: 755px;
}
.taglinetext{
    padding-top: 75px;
    font-size: 23px;
    text-align: center;
}



.Label{
    font-size: 25px;
    width: 70%;
}

.in{
    outline: 0;
    border: 0;
    border-bottom: 1px solid grey;
    width: 100%;
    line-height: 35px;
}

.label-check{
    font-size: 15px;
}
.content{
    width: 50%;
}
.img{
    width: 50%;
    align-content: center;
    text-align: center;
}
.Flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.Event{
    display: block;
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}


.imgtagline{
    height: 50px;
    width: 3%;
    margin-top: 100px;
} 

/* /// */

.background{
    background-image: url('https://wfiljmekszmbpzaqaxys.supabase.co/storage/v1/object/public/images/bg.png?t=2024-05-30T08%3A09%3A06.777Z');
    width: 100%;
    height: 300px;
    display: flex;
}


.username{
    width: 30%;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    margin-left: 2%;
    margin-top: 0.7%;
    color: white;
}

@media screen and (max-width: 730px){
    .username{
        font-size: 18px;
    }

    .username img{
        width: 10px;
        max-height: 10px;
    }
    .name{
        display: none;
    }
}

@media screen and (max-width: 640px){
    .username,
    .contact    {
        font-size: 15px;
    }

    .choices span{
        font-size: 15px;
    }

    .icon-button{
        display: none;
    }
    #totalitems{
        display: none;
    }
}

@media screen and (max-width: 552px){
    .choices span{
        font-size: 12px;
    }

}


.username img{
    height: 25px;
    margin-left: 3%;
}

.pfpdetails{
    display: flex;
    flex-direction: column;
}
.Nickname{
    display: flex;
    flex-direction: column;
}
.Pfp{
    width: 95%;
    display: flex;
    margin-top: 200px;
    margin-left: 5%;
    position: absolute;
    flex-direction: row;
}

.pfpimg{
    width: 150px;
    border-radius: 0.5em;
    box-shadow: 5px 15px 14px -4px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 5px 10px 14px -4px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 5px 5px 14px -4px rgba(0, 0, 0, 0.28);
}

.choices{
    display: flex;
    margin-top: 150px;
    margin-left: 5.5%;
    font-size: 19px;
    flex-direction: row;
}

.Hr{
    margin-top: 20px;
    width: 90%;
    margin-left: 5%;
}

.ItemSale, 
.ItemSold,
.ItemProcess,
.ItemHistory,
.User-Data{
    padding-left: 2.2%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.choices span{
    cursor: pointer;
}

.choices span:hover{
    text-shadow: 0px -1px 14px rgba(0,0,0,0.58);
    color: rgb(48, 14, 14);
}


/*ITEMSALE */
.on-sale {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 320px;
    margin-left: 3%;
    margin-top: 3%;
    box-shadow: 0px 0px 12px -2px rgba(171,171,171,0.75);
    position: relative; 
}

.sell {
    visibility: hidden;
    position: absolute;
    height: 320px;
    width: 300px;
    opacity: 0.73;
    background-color: #ffffff;
    cursor: pointer;
    z-index: 1;
}

.sell-button {
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 10px;
    border: 1px solid  #d3302f;
    color: white;
    background-color: #d3302f;
}

.on-sale:hover .sell { 
    visibility: visible;
    background-color: #632d2d; 
}

.on-sale-image {
    margin-top: 20px;
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s;
    
}

.on-sale-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: transform 0.3s; 
}

.on-sale:hover .on-sale-image img { 
    transform: scale(1.1); 
} 

/*ITEMSOLD */

.sold {
    position: absolute;
    height: 320px;
    width: 300px;
    background-color: #000000a4;
}

.sold span{
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 30px 10px 30px;
    background-color: #ff0b0b;
    color: #ffffff;
    z-index: 1
}

.on-sold-image {
    margin-top: 20px;
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s;
    
}

.on-sold-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

/* Every query in user */
.on-sale-text {
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.on-sale-text hr {
    width: 80%;
    margin: 8px 5px 0 30px;
}

.on-sale-text span {
    padding-left: 25px;
    font-size: 18px;
    margin-top: 15px;
}

.Process-container{
    width: 500px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    box-shadow: 2px 5px 14px -4px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 2px 5px 14px -4px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 5px 14px -4px rgba(0, 0, 0, 0.28);
    z-index: 3;
    display: none;
}

.process-image{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.process-details{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.process-texts{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 20px;
    line-height: 25px;
}

.process-image2{
    display: flex;
    margin-left: 15px;
    justify-content: center;
}

.process-image2 img{
    max-width: 80%;
    max-height: 50%;
    object-fit: cover;
}

.buttonclaim{
    text-align: end;
    margin-top: 65px;
    margin-right: 15px;
}

.buttonclaim button{
    padding: 5px;
    background-color: white;
    border: 1px solid #d3302f;
    cursor: pointer;
    color: #d3302f;;
}

.itemnotclaimed{
    margin-left: 5px;
}

.buttonclaim button:hover{
    background-color: #d3302f;  
    color: white;
}

.exposure{
    width: 100%;
    height: 100%;
    background-color: #0000008e;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    box-shadow: 0px 10px 25px -10px rgba(0, 0, 0, 0.171);
    z-index: 1;
}

.Sell-container{
    width: 500px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    box-shadow: 2px 5px 14px -4px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 2px 5px 14px -4px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 5px 14px -4px rgba(0, 0, 0, 0.28);
    z-index: 3;
    display: none;
}

.sell-image{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.sell-details{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sell-details h3{
    margin-top: 19px;
    margin-left: 14px;
}

.sell-texts{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 20px;
    line-height: 40px;
}

.sell-texts textarea{
    width: 80%;
    height: 50px;
}

.sell-image2{
    display: flex;
    margin-left: 15px;
    justify-content: center;
}

.sell-image2 img{
    margin-bottom: 90px;
    max-width: 80%;
    max-height: 50%;
    object-fit: cover;
}

.buttonsold{
    text-align: end;
    margin-top: 345px;
    margin-left: 45px;
    position: absolute;
}

.buttonsold button{
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    margin-right: 5px;
}

.buttonsold button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

#itemcancel,
#itemupdate{
    visibility: hidden;
}

.exposure1{
    width: 100%;
    height: 100%;
    background-color: #0000008e;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    box-shadow: 0px 10px 25px -10px rgba(0, 0, 0, 0.171);
    z-index: 1;
    display: none;
}

#process-notif{
    background-color: #ff0b0b;
    color: white;
    border-radius: 50%;
    padding: 0.2em 0.6em;
    font-size: 10px;
    position: absolute;
    margin-left: 430px;
    display: none;
}

.quantity-onsale{
    width: 100px;
    text-align: center;
    align-content: center;
    color: white; 
    height: 30px; 
    background-color: #d3302f;
    top: -4%;
    font-size: 15px; 
    position: absolute; 
    margin-left: 15px;
    z-index: 2;
}

.genre-onsale{
    width: 100px;
    text-align: center;
    align-content: center;
    color: white; 
    height: 30px; 
    background-color: rgb(19, 96, 238); 
    top: -4%;
    font-size: 15px; 
    position: absolute; 
    margin-left: 125px;
    z-index: 2;
}

#PostBox {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 1em;
    background-color: #d3302f;
    color: white;
    font-weight: 500;
    border: 2px solid #d3302f;
    cursor: pointer;
    box-shadow: 2px 5px 14px -4px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 2px 5px 14px -4px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 5px 14px -4px rgba(0, 0, 0, 0.28);
    
}

#PostBox:hover{
    border: 2px solid #d3302f;
    background-color: white;
    color: #d3302f;
}

#totalitems{
    font-size: 14px; 
    color: grey; 
    position: absolute;
    margin-left: 120px;
}