
.upload-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
}

.upload-container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-top: 8%;
}

.image-upload {
    display: inline-block; 
    height: 320px;
    margin-top: 60px;
    text-align: center; 
}

#image-preview {
    width: 300px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.check{
    margin-top: 30px;
    margin-right: 340px;
    font-size: 18px;
    align-content: center;
}

.check input{
    height: 15px;
    width: 15px;
}

#Cancel-Image{
    margin-left: 18px;
    cursor: pointer;
    padding: 4px;
    display: none;
}

#Cancel-Image:hover{
    color: #d3302f;;
}

.book-upload-data{
    display: flex;
    flex-direction: column;
}

.book-upload-data input{
    height: 30px;
    width: 500px;
}

.book-upload-data select{
    height: 40px;
    width: 510px;
}

.book-upload-data label{
    display: flex;
    margin-top: 35px;
    font-size: 10px;
    margin-bottom: 5px;
    font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    content: "*";
}

.input {
    max-width: 190px;
    display: none;
}

.labelFile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 190px;
    border: 2px dashed #ccc;
    align-items: center;
    text-align: center;
    padding: 5px;
    color: #404040;
    cursor: pointer;
    margin-left: 18px;
}

.upload-tagline{
    margin-top: 30px;
    color: #5E2323;
    font-family: 'Montserrat';
}


.Post-Button {
    margin-left: 80%;
    background-color: #d3302f;
    color: white;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    letter-spacing: 2px;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
  
.Post-Button:hover {
    background-color: #ffffff;
    color: #d3302f;
    border: 2px solid #d3302f;

}
  

.highlight {
    border: 2px solid red; 
    background-color: #ffcccc; 
}

.back-but {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    font-size: 15px;
    background: #fff;
    position: absolute;
    margin-top: 7%;
    margin-left: 75px;
    justify-content: center;
}
   
.back-but:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
}

.post-button-choices{
    margin-top: 25px; 
    background-color: #E8E8E8;
    padding: 0.5em;
    border-radius: 7px;
}

.post-button-choices button{
    border: 0;
    padding: 0.8em 1.2em 0.8em 1.2em;
    border-radius: 7px;
    font-family: 'Montserrat';
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 12px;
}

.chosen{
    color: white;
    background-color: #F34D4D;
}

.not-chosen{
    color: #908C8C;
    background-color: transparent;
    cursor: pointer;
}

.not-chosen:hover{
    color: black;
}

@media screen and (max-width: 1040px){
    .upload-container-content h2{
        font-size: 18px;
    }
}

@media screen and (max-width: 880px){
    .back-but{
        display: none;
    }

    .book-upload-data input,
    .book-upload-data textarea,
    .book-upload-data select {
        width: 80%;
    }
}