
.background{
    background-image: url('https://wfiljmekszmbpzaqaxys.supabase.co/storage/v1/object/public/images/bg.png?t=2024-05-30T08%3A09%3A06.777Z');
    width: 100%;
    height: 300px;
    display: flex;
}


.username{
    width: 30%;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    margin-left: 2%;
    margin-top: 0.7%;
    color: white;
}

@media screen and (max-width: 730px){
    .username{
        font-size: 18px;
    }

    .username img{
        width: 10px;
        max-height: 10px;
    }
    .name{
        display: none;
    }
}

@media screen and (max-width: 640px){
    .username,
    .contact    {
        font-size: 15px;
    }

    .choices span{
        font-size: 15px;
    }

    .icon-button{
        display: none;
    }
    #totalitems{
        display: none;
    }
}

@media screen and (max-width: 552px){
    .choices span{
        font-size: 12px;
    }

}


.username img{
    height: 25px;
    margin-left: 3%;
}

.pfpdetails{
    display: flex;
    flex-direction: column;
}
.Nickname{
    display: flex;
    flex-direction: column;
}
.Pfp{
    width: 95%;
    display: flex;
    margin-top: 200px;
    margin-left: 5%;
    position: absolute;
    flex-direction: row;
}

.pfpimg{
    width: 150px;
    border-radius: 0.5em;
    box-shadow: 5px 15px 14px -4px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 5px 10px 14px -4px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 5px 5px 14px -4px rgba(0, 0, 0, 0.28);
}

.choices{
    display: flex;
    margin-top: 150px;
    margin-left: 5.5%;
    font-size: 19px;
    flex-direction: row;
}

.Hr{
    margin-top: 20px;
    width: 90%;
    margin-left: 5%;
}

.ItemSale, 
.ItemSold,
.ItemProcess,
.ItemHistory,
.User-Data{
    padding-left: 2.2%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.empty-data{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
    flex-direction: column;
    text-align: center;
}

.empty-data img{
    margin: auto;
    height: 150px;
}

.empty-data h2{
    font-size: 19px;
    color: grey;
    font-weight: 500;
    letter-spacing: 1px;
}

.choices span{
    cursor: pointer;
}

.choices span:hover{
    text-shadow: 0px -1px 14px rgba(0,0,0,0.58);
    color: rgb(48, 14, 14);
}


/*ITEMSALE */
.on-sale {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 320px;
    margin-left: 3%;
    margin-top: 3%;
    box-shadow: 0px 0px 12px -2px rgba(171,171,171,0.75);
    position: relative; 
}

.sell {
    visibility: hidden;
    position: absolute;
    height: 320px;
    width: 300px;
    opacity: 0.73;
    background-color: #ffffff;
    cursor: pointer;
    z-index: 1;
}

.sell-button {
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 10px;
    border: 1px solid  #d3302f;
    color: white;
    background-color: #d3302f;
}

.on-sale:hover .sell { 
    visibility: visible;
    background-color: #632d2d; 
}

.on-sale-image {
    margin-top: 20px;
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s;
    
}

.on-sale-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: transform 0.3s; 
}

.on-sale:hover .on-sale-image img { 
    transform: scale(1.1); 
} 

/*ITEMSOLD */

.sold {
    position: absolute;
    height: 320px;
    width: 300px;
    background-color: #000000a4;
}

.sold span{
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 30px 10px 30px;
    background-color: #ff0b0b;
    color: #ffffff;
    z-index: 1
}

.on-sold-image {
    margin-top: 20px;
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s;
    
}

.on-sold-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

/* Every query in user */
.on-sale-text {
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.on-sale-text hr {
    width: 80%;
    margin: 8px 5px 0 30px;
}

.on-sale-text span {
    padding-left: 25px;
    font-size: 18px;
    margin-top: 15px;
}

.Process-container{
    width: 700px;
    height: 490px;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    box-shadow: 2px 5px 14px -4px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 2px 5px 14px -4px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 5px 14px -4px rgba(0, 0, 0, 0.28);
    z-index: 3;
    display: flex;
    border-radius: 1em;
}

.process-image{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.process-details{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.process-texts{
    display: flex;
    flex-direction: column;
    height: 40%;
}

.process-texts div{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    line-height: 25px;
}

.process-user-details{
    display: flex;
    flex-direction: column;
    height: 40%;
}

.process-image2{
    display: flex;
    margin-left: 15px;
    justify-content: center;
}

.process-image2 img{
    max-width: 80%;
    max-height: 50%;
    object-fit: cover;
}

.buttonclaim{
    text-align: end;
    height: 20%;
}

.Process-container hr{
    height: 90%;
    margin-top: 1%;
    margin-left: 15px;
}

.disabled{
    padding: 5px;
    margin-left: 5px;
    border: 1px solid #b4b4b4;
    background-color: #a3a1a1;
    cursor: no-drop;
}

.itemnotclaimed,
.itemclaimed{
    margin-left: 5px;
    padding: 5px;
    background-color: white;
    border: 1px solid #d3302f;
    cursor: pointer;
    color: #d3302f;;
}

.buttonclaim .itemnotclaimed:hover,
.buttonclaim .itemclaimed:hover{
    background-color: #d3302f;  
    color: white;
}

.exposure{
    width: 100%;
    height: 100%;
    background-color: #0000008e;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    box-shadow: 0px 10px 25px -10px rgba(0, 0, 0, 0.171);
    z-index: 2;
}

.Sell-container{
    width: 700px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    box-shadow: 2px 5px 14px -4px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 2px 5px 14px -4px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 5px 14px -4px rgba(0, 0, 0, 0.28);
    z-index: 3;
    display: flex;
}

.sell-image{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sell-image2{
    display: flex;
    justify-content: center;
}

.sell-image button{
    margin-top: 30px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.sell-image button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

.sell-image2 img {
    max-width: 80%;
    max-height: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease; /* Smooth scaling effect */
}

.sell-image2 img:hover {
    transform: scale(1.1); /* Grow by 10% when hovered */
}

.sell-details{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sell-details h3{
    margin-top: 19px;
    margin-left: 14px;
}

.sell-texts{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 20px;
    line-height: 40px;
}

.sell-texts textarea{
    width: 80%;
    height: 50px;
}


.buttonsold{
    text-align: end;
    margin-top: 345px;
    margin-left: 105px;
    position: absolute;
}

.buttonsold button{
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    margin-right: 5px;
}

.buttonsold button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

#itemcancel,
#itemupdate{
    visibility: hidden;
}

.exposure1{
    width: 100%;
    height: 100%;
    background-color: #0000008e;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    box-shadow: 0px 10px 25px -10px rgba(0, 0, 0, 0.171);
    z-index: 1;
}

#process-notif{
    background-color: #ff0b0b;
    color: white;
    border-radius: 50%;
    padding: 0.2em 0.6em;
    font-size: 10px;
    position: absolute;
    margin-left: 430px;
}

.quantity-onsale{
    width: 100px;
    text-align: center;
    align-content: center;
    color: white; 
    height: 30px; 
    background-color: #d3302f;
    top: -4%;
    font-size: 15px; 
    position: absolute; 
    margin-left: 15px;
    z-index: 2;
}

.genre-onsale{
    width: 100px;
    text-align: center;
    align-content: center;
    color: white; 
    height: 30px; 
    background-color: rgb(19, 96, 238); 
    top: -4%;
    font-size: 15px; 
    position: absolute; 
    margin-left: 125px;
    z-index: 2;
}

#PostBox {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 1em;
    background-color: #d3302f;
    color: white;
    font-weight: 500;
    border: 2px solid #d3302f;
    cursor: pointer;
    box-shadow: 2px 5px 14px -4px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 2px 5px 14px -4px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 5px 14px -4px rgba(0, 0, 0, 0.28);
    
}

#PostBox:hover{
    border: 2px solid #d3302f;
    background-color: white;
    color: #d3302f;
}

#totalitems{
    font-size: 14px; 
    color: grey; 
    position: absolute;
    margin-left: 120px;
}